# Editor
.idea/
*.swp
*.swo
*~
.DS_Store

# Environment
.env*
!.env.example

# .NET
**/bin
**/obj
**/publish
**/.vs
*.xml

# Node
node_modules
dist
tmp

# Angular
.angular

# NX
.nx/cache
.nx/workspace-data

# Misc
*.log
*.logs

# Certificates
certs/

# Terraform
.terraform/
terraform.tfvars
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
