keycloak_url                = "http://localhost:8080"
keycloak_admin_username     = "admin"
keycloak_admin_password     = "admin"
keycloak_admin_client_id    = "admin-cli"

realm_name        = "better-tests"
api_client_id     = "api"
web_client_id     = "web"
web_redirect_uris = ["http://localhost:4200/*"]
web_origins       = ["http://localhost:4200"]
api_redirect_uris = ["http://localhost:5048/*"]

test_users = {
  testuser = {
    email      = "testuser@better-tests.local"
    first_name = "Test"
    last_name  = "User"
    password   = "Password123!"
  }
  administrator = {
    email      = "admin@better-tests.local"
    first_name = "Admin"
    last_name  = "User"
    password   = "Password123!"
  }
}

google_client_id     = ""
google_client_secret = ""

github_client_id     = ""
github_client_secret = ""
