@import url('https://rsms.me/inter/inter.css');

@import 'tailwindcss';

@plugin "daisyui" {
  themes:
    emerald --default,
    dim --prefersdark;
}

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html {
    font-family: var(--font-sans);
    color: var(--color-base-content);
  }
}
